<div class="news">
  {% if site.news != blank %}
    {% assign news_size = site.news | size %}
    <div
      class="news-list"
      {% if include.limit and page.announcements.scrollable and news_size > 3 %}
        style="max-height: 22rem"
      {% endif %}
    >
      {% assign news = site.news | reverse %}
      {% if include.limit and page.announcements.limit %}
        {% assign news_limit = page.announcements.limit %}
      {% else %}
        {% assign news_limit = news_size %}
      {% endif %}
      {% for item in news limit: news_limit %}
        <article class="news-item">
          <time datetime="{{ item.date | date_to_xmlschema }}">{{ item.date | date: '%b %d, %Y' }}</time>
          <div class="news-copy">
            {% if item.inline %}
              {{ item.content | remove: '<p>' | remove: '</p>' | emojify }}
            {% else %}
              <a class="news-title" href="{{ item.url | relative_url }}">{{ item.title }}</a>
            {% endif %}
          </div>
        </article>
      {% endfor %}
    </div>
  {% else %}
    <p>No news so far...</p>
  {% endif %}
</div>
